[Unit]
Description=Bluetooth speaker agent service
Documentation=https://github.com/japoch/sonos-streaming/bluetooth-receiver
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/localadm/ws/gh-sonos-streaming/bluetooth-receiver
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python speaker-agent.py
User=localadm

[Install]
WantedBy=multi-user.target
